#entry-info {
    display: block;
    flex-direction: column;
}

:host {
    display: flex;
    height: 100%;
    flex-direction: column;
}


#button-layout {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

h4 {
    margin: 0px;
    height: 20px;
}

.cell-entry h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 20px;
}

.cell-entry  div {
    white-space: normal;
}
